@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-brand: #1e90ff;
  --color-brand-dark: #1479d3;
}

body {
  @apply font-sans bg-white text-gray-900 dark:bg-gray-950 dark:text-gray-100 transition-colors duration-200;
}
